
#navbar {
    background-color: #B799FF;
}

.banner {
    height: 70vh;
    border-top: 1px solid #ACBCFF ;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://wallpapercave.com/wp/wp8077260.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}
.banner-content {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.A , .B,  .C {
    margin-bottom: 20px;
}
